/* Group together subsections in tables of contents. */
.contents ul ul p
{
    margin: 0;
}

/* Increase contrast among title levels. */
div.body h2
{
    font-size: 190%;
    margin-top: 60px;
}

div.body h3
{
    font-size: 150%;
    margin-top: 40px;
}

/* Increase spacing below Python object descriptions. */
dl.py
{
    margin-bottom: 30px;
}
